<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>All Products list</title>
</head>
<body>
<h1>All Products list</h1>

<ul th:each="product : ${products}">
    <li><a th:href="@{/dao/{id}(id=${product.id})}" th:text="${product.getTitle()} + ' - ' + ${product.price}"/></li>
</ul>
<a href="/dao/addProduct">Add product</a>
</body>
</html>