<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>All Products list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<!--    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>

<div th:replace="~{fragments/navigation :: navigation(Home)}" />

<h1>All Products list</h1>

<span th:if="${products.size() == 0}">Products List is empty</span>
<table th:if="${products.size() > 0}" class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Price</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"/>
        <td th:text="${product.title}"/>
        <td th:text="${product.price}"/>
        <td><a class="btn btn-secondary" th:href="@{'/info/' + ${product.id}}">Info</a></td>
        <td><a class="btn btn-success" th:href="@{'/cart/add/' + ${product.id}}">Add to Cart</a></td>
        <td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger" th:href="@{'/products/delete/' + ${product.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div th:replace="~{fragments/pager :: pager}"/>

<a class="btn btn-success" th:href="@{'/addproduct/'}">Add new product</a>
</body>
</html>