<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>New product form</title>
</head>
<html>
<body>
<!--<form:form action="processForm" modelAttribute="product">-->
<!--    <form:hidden path="id"/>-->
<!--    Title: <form:input path="title"/>-->
<!--    <br>-->
<!--    Cost: <form:input path="cost"/>-->
<!--    <br>-->
<!--    <input type="submit" value="Submit"/>-->
<!--</form:form>-->
<br>
<a href="/product/">Return to list products</a>

</body>
</html>